apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- pdb.yaml

namespace: default

labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app.zerodt.com/component: edge
    app.zerodt.com/instance: routing-service

commonAnnotations:
  app.zerodt.com/component: edge
  app.zerodt.com/instance: routing-service
  app.zerodt.com/version: base

namePrefix: edge-

configMapGenerator:
- name: envoy-config
  files:
  - envoy.yaml

