apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
  # - https://argoproj.github.io/argo-rollouts/features/kustomize/rollout-transform-kustomize-v5.yaml
  - rollout-transform-v5.yaml

resources: 
# - deployment.yaml
- service.yaml
- pdb.yaml
- rollout.yaml
- scale-object.yaml
# - rollout-analysis.yaml

namespace: default

labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app.kubernetes.io/component: web
    app.kubernetes.io/instance: k8s

commonAnnotations:
  app.zerodt.com/component: web
  app.zerodt.com/instance: k8s
  app.zerodt.com/id: k8s-web-pool
  app.zerodt.com/version: base

namePrefix:
  k8s-

configMapGenerator:
- name: envoy-config  
  files:
  - envoy.yaml
