apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
  ## We can reference the file in the web or reference local file
  # - https://argoproj.github.io/argo-rollouts/features/kustomize/rollout-transform-kustomize-v5.yaml
  - rollout-transform-v5.yaml

resources:
# - deployment.yaml
- rollout.yaml
- service.yaml
- pdb.yaml

namespace: default

labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app.kubernetes.io/component: envoyproxy
    app.kubernetes.io/system: platform-service

commonAnnotations:
  app.zerodt.com/component: envoyproxy
  app.zerodt.com/system: platform-service
  app.zerodt.com/version: base

namePrefix: dataplane-

configMapGenerator:
- name: envoy-config
  files:
  - envoy.yaml

